.Technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Tech Page Title
  h2 {
    margin: 5px 0 5px 0;
  }
  .SnippetContainer {
    width: clamp(300px, 90vw, 800px);
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
